@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

:root {
    --cor0: #E4E2E5;
    --cor1: #00152E;
    --cor2: #1600F4;
    --cortexto: #959697;


    
}


/* font-family: 'Oswald', sans-serif; 
usar essa fote no menu h1
*/


nav {
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    font-size: 15px;

}